*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  background-color: #5ABFBF;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1500px;
  margin-top: -55px;
}



.mastHead {
  position: absolute;
  margin-top: 100px;
  margin-left: 275px;
}

.map {
  position: absolute;
  margin-top: 250px;
}

h2 {
  position: relative;
  font-family: 'Alice', serif;
  color: #666666;
  font-size: 48px;
  padding-top: 130px;
  margin-left: 30px;
}

img[name="animals"] {
  border: 3px solid rgba(255, 255, 255, .5);
  border-radius: 40px 5px 40px 5px;
width: 100px;
height: 100px;
}

.axolotls:hover p,
.ocelot:hover p,
.fennecFox:hover p,
.sandCat:hover p,
.wildAss:hover p,
.ayeAye:hover p,
.elephant:hover p,
.redPanda:hover p,
.pangolin:hover p,
.penguin:hover p {
  display: block;
}

p {
  border-radius: 20px 4px 20px 4px;
  display: none;
  background-color: rgba(255, 255, 255, .75);
  font-size: 10px;
  padding: 5px;
  margin-top: -185px;
  margin-left: 100px;
  max-width: 110px;
  max-height: 110px;
  font-family: sans-serif;
}

.axolotls {
  position: absolute;
  margin-top: -375px;
  margin-left: 175px;
}

.ocelot {
  position: absolute;
  margin-top: -255px;
  margin-left: 300px;
}

.fennecFox {
  position: absolute;
  margin-top: -385px;
  margin-left: 590px;
}

.wildAss {
  position: absolute;
  margin-top: -335px;
  margin-left: 775px;
}

.sandCat {
  position: absolute;
  margin-top: -435px;
  margin-left: 895px;
}

.ayeAye {
  position: absolute;
  margin-top: -185px;
  margin-left: 790px;
}

.elephant {
  position: absolute;
  margin-top: -330px;
  margin-left: 915px;
}

.redPanda {
  position: absolute;
  margin-top: -430px;
  margin-left: 1075px;
}

.pangolin {
  position: absolute;
  margin-top: -280px;
  margin-left: 1075px;
}

.penguin {
  position: absolute;
  margin-top: -85px;
  margin-left: 1300px;
}
